$small: 640px;
$medium: 768px;
$large: 1024px;
$xlarge: 1280px;

.b-layout {
  .content-page {
    padding: 5.5rem 10rem 5.5rem 10rem;
  }
  @media screen and (max-width: $xlarge) {
    .content-page {
      padding: 5.5rem 2rem 5.5rem 2rem;
    }
  }

  @media screen and (max-width: $medium) {
    .content-page {
      padding: 5.5rem 1rem 5.5rem 1rem;
    }
  }

  .w-header,
  .w-header-search {
    width: 100%;
  }

  .w-header-search {
    position: fixed;
    display: flex;
    align-items: center;
    height: 64px;
  }
}
